.git
node_modules
.env
dist
build
stats.html
log.txt
coverage
*.tsbuildinfo
# default location summaries get stored
out/*
# needed so that git will track out/, which would otherwise be
# empty without the .gitkeep
!out/.gitkeep
